body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
    color: #40514E;
}
.student{
  font-weight: normal;
}
h1{
font-family: 'Sacramento', cursive;
margin: 50px auto 0 auto;
font-size: 562.5%;
color: #66BFBF;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.profile{
  margin-top: 100px;
}
.propic{
  width:20%;
}
hr{
  border-style: none;
 border-top: dotted;
 border-color: #EAF6F6;
 border-width: 6px;
 width: 5%;
}
.drawing{
width: 30%;
float: left;
margin-right: 30px;
}
.cycling{
width: 30%;
float: right;
margin-left: 30px;

}
a
{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.top-container
{
  background-color: #EAF6F6;
    padding: 100px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud
{
  position: absolute;
}
.top-cloud
{
  position:absolute;
  right: 350px;
  top: 100px;
}
.skill-row
{
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}
.copyright{
  color: #EAF6F6;
  margin: 20PX 0;
}
